# 依存関係
node_modules/

# Expo関連
.expo/
dist/
web-build/

# ネイティブ関連
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro関連
.metro-health-check*

# デバッグ関連
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS関連
.DS_Store

# 環境変数
.env
.env*.local

# TypeScript関連
*.tsbuildinfo

# IDE設定
.idea/
.vscode/

# ビルド成果物
build/

# ソースマップ
*.map

# テスト関連
coverage/
